<ng-container *ngIf="!edit; else editForm">
  <div class="form-group row mb-0">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Nome:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        {{ artefatoAux?.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Descrição:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        {{ artefatoAux?.descricao }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0" *ngIf="artefatoAux?.idRequisito" [routerLink]="'../../' + requisitoVinculado?.id + '/detalhe-requisito'">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Requisito Vinculado:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        {{ requisitoVinculado?.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0" *ngIf="artefatoAux?.idCasoDeUso" [routerLink]="'../../' + casosDeUsoVinculado?.id + '/detalhe-caso-de-uso'">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Caso de uso Vinculado:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        {{ casosDeUsoVinculado?.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Artefato:
    </strong>
    <div class="col-sm-7 mt-2">
      <a
        *ngIf="artefatoAux?.tipoDocumento"
        [attr.href]="sanitize.bypassSecurityTrustUrl(artefatoAux?.tipoDocumento)"
        [download]="artefatoAux?.nome"
      >
        <button pButton type="button" [label]="'Baixar - ' + artefatoAux?.nome" icon="fa-download" iconPos="left"></button>
      </a>
    </div>
  </div>
</ng-container>
<ng-template #editForm>
  <form [formGroup]="artefatoForm">
    <div class="form-group row mb-0">
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Nome:
      </strong>
      <div class="col-sm-7">
        <input
          formControlName="nome"
          pTooltip="nome do artefato"
          tooltipPosition="right"
          tooltipEvent="focus"
          pInputText
          required
          type="text"
          id="nomeInp"
        >
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Descrição:
      </strong>
      <div class="col-sm-7">
        <textarea
          formControlName="descricao"
          pTooltip="descrição do artefato"
          tooltipPosition="right"
          tooltipEvent="focus"
          class="col-sm-8"
          pInputTextArea
          required
        >
        </textarea>
      </div>
    </div>
    <div
      *ngIf="requisitos"
      class="form-group row mb-0"
    >
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Requisito:
      </strong>
      <div class="col-sm-7">
        <p-dropdown
          formControlName="requisito"
          [options]="requisitos"
          [(ngModel)]="requisitoSelecionado"
        >
        </p-dropdown>
      </div>
    </div>
    <div
      *ngIf="cdus"
      class="form-group row mb-0"
    >
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Caso de uso:
      </strong>
      <div class="col-sm-7">
        <p-dropdown
          formControlName="casoDeUso"
          [options]="cdus"
          [(ngModel)]="cduSelecionado"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Arquivo:
      </strong>
      <div class="col-sm-7">
        <p-fileUpload
          maxFileSize="1000000"
          chooseLabel="Anexar arquivo"
          [name]="artefato.nome"
          [files]="documentoAntigo"
          [auto]="true"
          [customUpload]="true"
          (onRemove)="removerDocumento()"
          (uploadHandler)="documentChange($event)"
        >
        </p-fileUpload>
      </div>
    </div>
  </form>
</ng-template>
