<ng-container *ngIf="!edit; else editForm">
  <div class="form-group row mb-0">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Nome:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        teste
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Descrição:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        teste
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
      Artefato:
    </strong>
    <div class="col-sm-7">
      <span class="form-control-plaintext text-left">
        teste
      </span>
    </div>
  </div>
</ng-container>
<ng-template #editForm>
  <form [formGroup]="artefatoForm">
    <div class="form-group row mb-0">
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Nome:
      </strong>
      <div class="col-sm-7">
        <input
          formControlName="nome"
          pTooltip="nome do artefato"
          tooltipPosition="right"
          tooltipEvent="focus"
          pInputText
          required
          type="text"
          id="nomeInp"
        >
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Descrição:
      </strong>
      <div class="col-sm-7">
        <textarea
          formControlName="descricao"
          pTooltip="descrição do artefato"
          tooltipPosition="right"
          tooltipEvent="focus"
          class="col-sm-8"
          pInputTextArea
          required
        >
        </textarea>
      </div>
    </div>
    <div
      *ngIf="requisitos"
      class="form-group row mb-0"
    >
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Requisito:
      </strong>
      <div class="col-sm-7">
        <p-dropdown
          formControlName="requisito"
          [options]="requisitos"
          [(ngModel)]="requisitoSelecionado"
        >
        </p-dropdown>
      </div>
    </div>
    <div
      *ngIf="cdus"
      class="form-group row mb-0"
    >
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Caso de uso:
      </strong>
      <div class="col-sm-7">
        <p-dropdown
          formControlName="casoDeUso"
          [options]="cdus"
          [(ngModel)]="cduSelecionado"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-5 col-form-label text-sm-right text-md-right">
        Artefato:
      </strong>
      <div class="col-sm-7">
        <p-fileUpload
          mode="basic"
          [name]="artefato.nome"
          [url]="url"
          accept="image/*"
          maxFileSize="1000000"
          [disabled]="!artefato.id"
          [pTooltip]="!artefato.id ? 'Salve este artefato antes de anexar um arquivo' : 'Anexo de arquivo no artefato'"
          chooseLabel="Anexar arquivo"
        >
        </p-fileUpload>
      </div>
    </div>
  </form>
</ng-template>
