<ng-container *ngIf="!edit; else editRequisito">
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      ID do Requisito:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.idRequisito }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Nome:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.nome }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Descricao:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.descricao }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Importancia:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.importancia }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Fonte:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.fonte }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Categoria:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.categoria }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0">
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Status:
    </strong>
    <div class="col-sm-8">
      <span class="form-control-plaintext text-left">
        {{ requisitoAux?.status }}
      </span>
    </div>
  </div>
  <div class="form-group row mb-0" *ngIf="requisitoAux?.artefatos" >
    <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
      Artefato:
    </strong>
    <div class="col-sm-8">
      <span
        *ngFor="let artefato of requisitoAux?.artefatos"
        class="form-control-plaintext text-left"
      >
        <a [routerLink]="['../../' + artefato?.id + '/detalhe-artefato']">
          {{ artefato?.nome }}
        </a>
      </span>
    </div>
  </div>
</ng-container>
<ng-template #editRequisito>
  <form [formGroup]="requisitoForm">
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        ID do Requisito:
      </strong>
      <div class="col-sm-8">
        <input
          pTooltip="ID de uma funcionadade ou sub-funcionalide. Ex.: (Para Funcionadade Principal) 1 - (Para Sub Funcionadade) 1.1"
          [tooltipPosition]="tooltipPosition"
          tooltipEvent="focus"
          class="col-sm-8"
          pInputText
          formControlName="idRequisito"
        >
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Nome:
      </strong>
      <div class="col-sm-8">
        <input
          pTooltip="Nome de uma funcionadade. Ex.: 'Cadastro de requisito.'"
          [tooltipPosition]="tooltipPosition"
          tooltipEvent="focus"
          class="col-sm-8"
          pInputText
          formControlName="nome"
        >
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Descricao:
      </strong>
      <div class="col-sm-8">
        <textarea
          pTooltip="Descricao de uma funcionaliade. Ex.: 'Permitir usuário logado cadastrar requisitos.'"
          [tooltipPosition]="tooltipPosition"
          tooltipEvent="focus"
          pInputTextarea
          formControlName="descricao"
          required
          type="text"
          id="descricaoInp"
          class="col-sm-8"
        >
        </textarea>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Importancia:
      </strong>
      <div class="col-sm-8">
        <p-dropdown
          formControlName="importancia"
          [options]="importancia"
          [(ngModel)]="importanciaSelecionada"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Fonte:
      </strong>
      <div class="col-sm-8">
        <input
          pTooltip="quem necessita? Ex.: Cliente"
          [tooltipPosition]="tooltipPosition"
          tooltipEvent="focus"
          class="col-sm-8"
          pInputText
          formControlName="fonte"
        >
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Categoria:
      </strong>
      <div class="col-sm-8">
        <p-dropdown
          formControlName="categoria"
          [options]="categoria"
          [(ngModel)]="categoriaSelecionada"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0">
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Status:
      </strong>
      <div class="col-sm-8">
        <p-dropdown
          formControlName="status"
          [options]="status"
          [(ngModel)]="statusSelecionado"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row mb-0" *ngIf="requisitoAux?.id && requisitoAux?.artefatos !== null" >
      <strong class="col-sm-4 col-form-label text-sm-right text-md-right">
        Artefato:
      </strong>
      <div class="col-sm-8 pt-2" (click)="dialogArtefato()"> Alterar artefato </div>
    </div>
  </form>
</ng-template>

<p-dialog header="Title" [modal]="true" [responsive]="true" [(visible)]="display">
  <p> Atenção!. </p>
  <p> Para alterar o artefato você será redirecionado para o Artefato escolhido, </p>
  <p> E irá perder toda alteração feita no Requisito.</p>
  <p-footer>
    <button type="button" pButton (click)="dialogArtefato()" label="Cancelar" class="ui-button-warning"></button>
    <button type="button" pButton routerLink="../artefatos" label="Prosseguir" class="ui-button-success"></button>
  </p-footer>
</p-dialog>
